<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find all attractions at Nørrebro</title>
    <link th:href="@{/showAttraction.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="header">
        <div class="headlines">
            <h1 class="headline1"> Here u will find the different kebab stores around Nørrebro </h1>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>City</th>
            <th colspan="3">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="touristAttraction : ${attractions}">
            <td th:text="${touristAttraction.name}"></td>
            <td th:text="${touristAttraction.description}"></td>
            <td th:text="${touristAttraction.city}"></td>
            <td>

                <a th:href="@{/attractions/{name}/tags(name=${touristAttraction.name})}">
                    <button>Tags</button>
                </a>
            </td>

            <td>

                <a th:href="@{/attractions/{name}/edit(name=${touristAttraction.name})}">
                    <button>Edit</button>
                </a>

            </td>

            <td>
                <form th:action="@{'/attractions/delete/' + ${touristAttraction.name}}" method="post" th:method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

            </td>

        </tr>
        </tbody>
    </table>
    <br>
    <a href="/attractions/add">
        <button>Add new attraction</button>
    </a>
</header>
</body>
</html>